.root {
    -fx-base: #3C3F41;
    -fx-background: #3C3F41;
    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: #2B2B2B;
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}








.list-cell {
    -fx-text-fill: rgb(220, 220, 220); /* 5 */
}
.list-cell:odd {
    -fx-background-color: #3C3F41; /* 1 */
}
.list-cell:even {
    -fx-background-color: #2B2B2B; /* for information */
}
.list-cell:filled:hover {
    -fx-background-color:  rgb(0, 80, 100); /* 2 */
    -fx-text-fill: white; /* 5 */
}
.list-cell:filled:selected{
    -fx-background-color:  rgb(0, 80, 100); /* 2 */
    -fx-text-fill: white;
}

#todayAllToggle:selected{
    -fx-background-color:  rgb(0, 80, 100);
    -fx-background-radius: 0;
    -fx-text-fill: white;
}
#todayAllToggle:selected:hover{
    -fx-background-color:  rgb(0, 80, 100);
    -fx-background-radius: 0;
    -fx-text-fill: white;
}
#todayAllToggle{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
#todayAllToggle:hover{
    -fx-background-color: rgb(0, 80, 100);
    -fx-background-radius: 0;
    -fx-text-fill: white;
}
.menu-bar:hover {
    -fx-background-color: #3C3F41;
}
.menu-bar {
    -fx-background-color: #3C3F41;
}
.menu-item:hover{
    -fx-background-color: rgb(0, 80, 100);
}
#gmail{
    -fx-text-fill: #3E86A0;
}
#instagram{
    -fx-text-fill: #3E86A0;
}
#gmail:hover{
    -fx-text-fill: #4eb2d2;
    -fx-font-size: 13;
}
#instagram:hover{
    -fx-text-fill: #4eb2d2;
    -fx-font-size: 13;
}
.button{
    -fx-background-color: #4C5052;
    -fx-text-fill: white;
    -fx-border-color:#5E6060;
    -fx-border-radius: 5;
}
.button:focused{
    -fx-background-color: #365880;
    -fx-text-fill: white;
    -fx-border-color:#4C708C;
    -fx-border-radius: 5;
}
#github{
    -fx-text-fill: #3E86A0;
}
#github:hover{
    -fx-text-fill: #4eb2d2;
    -fx-font-size: 13;
}

#menu{
    -fx-background-color: #3C3F41;
}
#menu:hover{
    -fx-background-color:  rgb(0, 80, 100);
}
#menu:showing{
    -fx-background-color:  rgb(0, 80, 100);
}
#menu.label{
    -fx-text-fill: white;
}
#menu.label{
    -fx-text-fill: white;
}
